*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: chacha;
    src: url('./Heading-Now-Variable.ttf');
}
.loader{
    width: 100%;
    height: 100vh;
    background-color: #F8EFBA;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: fixed;
}
.loader h1{
    font-size: 100px;
    font-weight: 600;
}
.page1{
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.page1 h1{
    color: white;
    font-family: chacha;
    font-size: 40vw;
    font-weight: 900;
    white-space: nowrap;
    font-stretch: 260%;
}
.page2
{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.page3
{
    background-color: black;
    width: 100%;
    height: 100vh;
}